In [16]:
import sqlite3
from tabulate import tabulate

In [17]:
# Connect to the local database file
conn = sqlite3.connect('sales.db')  # Replace with your actual file name
cursor = conn.cursor()

# Read data from the table
cursor.execute("SELECT * FROM sales LIMIT 5;") 
rows = cursor.fetchall()

# Get column names
header = [description[0] for description in cursor.description]
# Print the results in a tabular format
print(tabulate(rows, headers=header, tablefmt='fancy_grid'))

╒════════════╤═══════╤══════════╤════════╤════════════════╤════════════════╤═══════════════════╤═══════════╤══════════════════╤════════════════════╤════════════════╤═════════════════════╤══════════════════╤═════════════╤══════════════╤══════════╤════════╤═══════════╕
│ Date       │ Day   │ Month    │ Year   │   Customer_Age │ Age_Group      │ Customer_Gender   │ Country   │ State            │ Product_Category   │ Sub_Category   │ Product             │ Order_Quantity   │ Unit_Cost   │ Unit_Price   │ Profit   │ Cost   │ Revenue   │
╞════════════╪═══════╪══════════╪════════╪════════════════╪════════════════╪═══════════════════╪═══════════╪══════════════════╪════════════════════╪════════════════╪═════════════════════╪══════════════════╪═════════════╪══════════════╪══════════╪════════╪═══════════╡
│ Date       │ Day   │ Month    │ Year   │             10 │ Age_Group      │ Customer_Gender   │ Country   │ State            │ Product_Category   │ Sub_Category   │ Product             │ Order_Quantity   │ Unit_Cost   │ Unit_Price   │ Profit   │ Cost   │ Revenue   │
├────────────┼───────┼──────────┼────────┼────────────────┼────────────────┼───────────────────┼───────────┼──────────────────┼────────────────────┼────────────────┼─────────────────────┼──────────────────┼─────────────┼──────────────┼──────────┼────────┼───────────┤
│ 11/26/2013 │ 26    │ November │ 2013   │             29 │ Youth (<25)    │ Male              │ Canada    │ British Columbia │ Accessories        │ Bike Racks     │ Hitch Rack - 4-Bike │ 8                │ 45          │ 120          │ 590      │ 360    │ 950       │
├────────────┼───────┼──────────┼────────┼────────────────┼────────────────┼───────────────────┼───────────┼──────────────────┼────────────────────┼────────────────┼─────────────────────┼──────────────────┼─────────────┼──────────────┼──────────┼────────┼───────────┤
│ 11/26/2015 │ 26    │ November │ 2015   │             29 │ Youth (<25)    │ Male              │ Canada    │ British Columbia │ Accessories        │ Bike Racks     │ Hitch Rack - 4-Bike │ 8                │ 45          │ 120          │ 590      │ 360    │ 950       │
├────────────┼───────┼──────────┼────────┼────────────────┼────────────────┼───────────────────┼───────────┼──────────────────┼────────────────────┼────────────────┼─────────────────────┼──────────────────┼─────────────┼──────────────┼──────────┼────────┼───────────┤
│ 3/23/2014  │ 23    │ March    │ 2014   │             59 │ Adults (35-64) │ Male              │ Australia │ New South Wales  │ Accessories        │ Bike Racks     │ Hitch Rack - 4-Bike │ 23               │ 45          │ 120          │ 1366     │ 1035   │ 2401      │
├────────────┼───────┼──────────┼────────┼────────────────┼────────────────┼───────────────────┼───────────┼──────────────────┼────────────────────┼────────────────┼─────────────────────┼──────────────────┼─────────────┼──────────────┼──────────┼────────┼───────────┤
│ 3/23/2016  │ 23    │ March    │ 2016   │             59 │ Adults (35-64) │ Male              │ Australia │ New South Wales  │ Accessories        │ Bike Racks     │ Hitch Rack - 4-Bike │ 20               │ 45          │ 120          │ 1188     │ 900    │ 2088      │
╘════════════╧═══════╧══════════╧════════╧════════════════╧════════════════╧═══════════════════╧═══════════╧══════════════════╧════════════════════╧════════════════╧═════════════════════╧══════════════════╧═════════════╧══════════════╧══════════╧════════╧═══════════╛

SINGLE LINE QUERY

In [38]:
# Single line query
cursor.execute("SELECT AVG(Cost) FROM sales")
rows = cursor.fetchall()
print(tabulate(rows, headers=['Average Cost'], tablefmt='fancy_grid'))

╒════════════════╕
│   Average Cost │
╞════════════════╡
│        469.319 │
╘════════════════╛

The query output the average cost of the items

In [40]:
# Second line query
cursor.execute("SELECT Country, Cost FROM sales LIMIT 5")
rows = cursor.fetchall()
print(tabulate(rows, headers=['Country', 'Cost'], tablefmt='fancy_grid'))

╒═══════════╤════════╕
│ Country   │ Cost   │
╞═══════════╪════════╡
│ Country   │ Cost   │
├───────────┼────────┤
│ Canada    │ 360    │
├───────────┼────────┤
│ Canada    │ 360    │
├───────────┼────────┤
│ Australia │ 1035   │
├───────────┼────────┤
│ Australia │ 900    │
╘═══════════╧════════╛

SINGLE LINE SUBQUERY

In [45]:
# Single line subquery to fetch top 5 records from the sales table
cursor.execute("""
    SELECT Country, Cost 
    FROM sales
    WHERE Cost > (SELECT AVG(Cost) FROM sales) LIMIT 5;""")
rows = cursor.fetchall()
print(tabulate(rows, headers=['Country', 'Cost'], tablefmt='fancy_grid'))

╒═══════════╤════════╕
│ Country   │ Cost   │
╞═══════════╪════════╡
│ Country   │ Cost   │
├───────────┼────────┤
│ Canada    │ 360    │
├───────────┼────────┤
│ Canada    │ 360    │
├───────────┼────────┤
│ Australia │ 1035   │
├───────────┼────────┤
│ Australia │ 900    │
╘═══════════╧════════╛

MULTIPLE LINES SUBQUERY

In [34]:
# Single line subquery to fetch top 5 records from the sales table
cursor.execute("""
    SELECT Country, Cost 
    FROM sales
    WHERE Cost > (SELECT AVG(Cost) 
    FROM sales
    GROUP BY Country
    HAVING Country = 'United States') LIMIT 5;""")
rows = cursor.fetchall()
print(tabulate(rows, headers=['Country', 'Cost'], tablefmt='fancy_grid'))

╒═══════════╤════════╕
│ Country   │ Cost   │
╞═══════════╪════════╡
│ Country   │ Cost   │
├───────────┼────────┤
│ Canada    │ 360    │
├───────────┼────────┤
│ Canada    │ 360    │
├───────────┼────────┤
│ Australia │ 1035   │
├───────────┼────────┤
│ Australia │ 900    │
╘═══════════╧════════╛

The subquery will output the avearge cost of items grouped by country

USING CTE

In [18]:
# Using CTE to create a temporary result set
cursor.execute("""
    WITH Top_Revenue AS (
        SELECT Product_Category, SUM(Revenue) AS Total_Revenue, 
        SUM(Profit) AS Total_Profit
        FROM sales
        GROUP BY Product_Category
        ORDER BY total_revenue DESC
        LIMIT 5
    )
    SELECT * FROM Top_Revenue
""")
rows = cursor.fetchall()
print(tabulate(rows, headers=['Product_Category', 'Total_Profit', 'Total_Sales', 'Total_Revenue'], tablefmt='fancy_grid'))

╒════════════════════╤═════════════════╤════════════════╕
│ Product_Category   │    Total_Profit │    Total_Sales │
╞════════════════════╪═════════════════╪════════════════╡
│ Bikes              │     6.17821e+07 │    2.05193e+07 │
├────────────────────┼─────────────────┼────────────────┤
│ Accessories        │     1.5118e+07  │    8.86238e+06 │
├────────────────────┼─────────────────┼────────────────┤
│ Clothing           │     8.37088e+06 │    2.83945e+06 │
├────────────────────┼─────────────────┼────────────────┤
│ Furniture          │ 19500           │ 9600           │
├────────────────────┼─────────────────┼────────────────┤
│ Product_Category   │     0           │    0           │
╘════════════════════╧═════════════════╧════════════════╛